# Environment variables
.env

# Visual Studio Code settings
.vscode/

# Roo Code workspace settings
.roo/

# Internal git files
.git/
.github/


# Devcontainer build files
.devcontainer/
devcontainer/
Dockerfile

# Data files
data/ohlcv/
data/catalog.yaml

# Roo
.roomodes
.roo/
